:root {
    /* Primary Colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral Colors */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    /* Typography */
    --ff-base: 'Poppins', sans-serif;

    --fw-thin: 200;
    --fw-regular: 400;
    --fw-bold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.9375rem;
    padding: 32px;
    background-color: var(--very-light-gray);

    display: grid;
    place-content: center;
    min-height: 100vh;
}

.flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.grid-cont {
    display: grid;
    grid-template-areas:
        "supervisor"
        "team"
        "karma"
        "calculator";
    gap: 24px;
}

.feature-component {
    max-width: 1110px;
}

/* HEADER */
.head {
    text-align: center;
    margin-bottom: 76px;
}

.head-title {
    color: var(--very-dark-blue);
    font-size: 24.3px;
    font-weight: var(--fw-thin);
}

.head-subtitle {
    color: var(--very-dark-blue);
    font-size: 24.3px;
    font-weight: var(--fw-bold);
    margin-bottom: 14px;
}

.head-text {
    color: var(--grayish-blue);
    line-height: 1.65em;
}

/* CARDS */
.card {
    background-color: var(--white);
    padding: 26px 28px 28px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 8px 16px 1px hsla(212, 86%, 64%, 0.2);
}

.card-top-line {
    width: 100%;
    height: 4px;
    background-color: var(--top-line-color);
    position: absolute;
    top: 0;
    left: 0;
}

.card-title {
    color: var(--very-dark-blue);
    font-size: 20px;
    font-weight: var(--fw-bold);
    margin-bottom: 3px;
}

.card-text {
    color: var(--grayish-blue);
    font-size: 13.2px;
    line-height: 1.75em;
    margin-bottom: 32px;
}

.card-icon {
    width: 57px;
    align-self: flex-end;
}

.supervisor-card {
    grid-area: supervisor;
    --top-line-color: var(--cyan);
}

.team-card {
    grid-area: team;
    --top-line-color: var(--red);
}

.karma-card {
    grid-area: karma;
    --top-line-color: var(--orange);
}

.calculator-card {
    grid-area: calculator;
    --top-line-color: var(--blue);
}

/* FOOTER */
/* TODO: style footer at the end */
footer {
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 1110px) {
    .head {
        padding: 0 282px;
        margin-bottom: 62px;
    }

    .head-title {
        font-size: 36.5px;
        margin-bottom: -4px;
    }

    .head-subtitle {
        font-size: 36.5px;
        margin-bottom: 16px;
    }

    .head-text {
        font-size: 15.2px;
    }

    .grid-cont {
        grid-template-areas: 
            "supervisor team calculator"
            "supervisor karma calculator";
        gap: 30px;
    }

    .card {
        padding: 30px 32px 32px;
    }

    .card-title {
        margin-bottom: 8px;
    }
    
    .card-text {
        margin-bottom: 40px;
    }

    .card-icon {
        width: auto;
    }

    .supervisor-card {
        align-self: center;
    }

    .calculator-card {
        align-self: center;
    }

}